body {
	background: -webkit-linear-gradient(rgba(6,35,170,1), rgba(74,124,227,1), rgba(128,208,16,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(6,35,170,1), rgba(74,124,227,1), rgba(128,208,16,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradienrgba(6,35,170,1), rgba(74,124,227,1), rgba(128,208,16,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(6,35,170,1), rgba(74,124,227,1), rgba(128,208,16,1)); /* Standard syntax */
}


#title {
	font-family: sans-serif;
	width: 50%;
	margin: auto;
}

#gameCanvas {
	position: relative;
	top:25px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*Static background image on game*/
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 750px 600px;
}

#title, #gameCanvas {
	border: 1px solid black;
	background-color: #DB6414;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
	text-align: center;
}

#hound {
	padding-top: 25px;
	-webkit-animation: dogWalking 25s linear infinite, alternate;
	animation: dogWalking 25s linear infinite, alternate;
	
	position: relative;
}

@-webkit-keyframes dogWalking {
	0%{left:0px;}
	50% {left:90%; transform: rotateY(0deg);}
	50.01%{left:90%; transform: rotateY(180deg);}
	100%{left:0px; transform: rotateY(180deg);}
}

@keyframes dogWalking {
	0%{left:0px;}
	50% {left:90%; transform: rotateY(0deg);}
	50.01%{left: 90%; transform: rotateY(180deg);}
	100%{left:0px; transform: rotateY(180deg);}
}
