body {
	background-color: #a9a9a9;
}


#title {
	font-family: sans-serif;
	width: 50%;
	margin: auto;
}

#gameCanvas {
	position: relative;
	top:50px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*Static background image on game*/
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 750px 600px;
}

#title, #gameCanvas {
	border: 1px solid black;
	background-color: #00ffff;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
	text-align: center;
}

#hound {
	padding-top: 75px;
	-webkit-animation: dogWalking 25s linear infinite, alternate;
	animation: dogWalking 25s linear infinite, alternate;
	
	position: relative;
}

@-webkit-keyframes dogWalking {
	0%{left:0px;}
	50% {left:90%; transform: rotateY(0deg);}
	51%{left:90%; transform: rotateY(180deg);}
	100%{left:0px; transform: rotateY(180deg);}
}

@keyframes dogWalking {
	0%{left:0px;}
	50% {left:90%; transform: rotateY(0deg);}
	51%{left: 90%; transform: rotateY(180deg);}
	100%{left:0px; transform: rotateY(180deg);}
}
